<div class="p-2 border-bottom border-muted">
    <div class="mt-2 sticky-top">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        <!-- Logo Section -->
        <a [routerLink]="['/account/login']" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
          <img src="./assets/logo/esarwa logo.png" alt="esarwa_logo" style="height: 42px; width: 167px;">
        </a>
  
        <!-- Navbar Links -->
        <ul class="nav ms-auto">
          <li [class]="isNavbarHidden2 ? '' : 'd-none'"><a class="nav-link px-2"><span class="poppins_font" style="font-weight: 400;font-size: 16px;color: #21272A;">About Us</span></a></li>
          <li [class]="isNavbarHidden2 ? '' : 'd-none'"><a class="nav-link px-2"><span class="poppins_font" style="font-weight: 400;font-size: 16px;color: #21272A;">Terms & Conditions</span></a></li>
          <li [class]="isNavbarHidden2 ? '' : 'd-none'"><a class="nav-link px-2"><span class="poppins_font" style="font-weight: 400;font-size: 16px;color: #21272A;">Privacy Policies</span></a></li>
        </ul>
  
        <!-- Search Form -->
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 position-relative" role="search" [class]="isNavbarHidden2 ? 'd-none' : ''">
          <input type="search" class="form-control pe-5" placeholder="Search..." aria-label="Search">
          <i class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-3" style="font-size: 1.2rem; color: #6c757d;"></i>
        </form>
  
        <!-- Notification Icon -->
        <i class="bi bi-bell position-relative m-2" [class]="isNavbarHidden2 ? 'd-none' : ''">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">unread messages</span>
          </span>
        </i>
  
        <!-- Profile Dropdown -->
        <div class="dropdown text-end" [class]="isNavbarHidden2 ? 'd-none' : ''">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./assets/logo/profile-sample-photo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
  
        <!-- Language Select -->
        <select class="form-select poppins_font ms-2" style="width: 6%; height: 40px; border: none;font-weight: 400;font-size: 16px;color: #21272A;">
          <option value="English" selected>English</option>
          <option value="Marathi">Marathi</option>
          <option value="Hindi">Hindi</option>
        </select>
  
      </div>
    </div>
  </div>
  