
<div class="container mt-3" >
<div class="row" >
    <div class="col-md-6">
        <img src="/assets/login/login-page.png" alt="" style="    width: 649px; height: 677px;; border-bottom-left-radius: 20px;">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <form>
            <span><b><h1 style="margin-top: 23%; line-height: 81px;font-size: 48px; font-weight: 700;" class="poppins_font">LOGIN</h1></b></span>
            <div class="mb-3">              
              <input type="email" class="form-control username_password_input" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Email-Id" style="  border-radius: 20px;gap: 10px;border: 1px solid rgba(171, 171, 171, 1);font-size: 14px;letter-spacing: 1%;line-height: 24px;width: 100%;">
            </div>
            <div class="mb-2">                
                <input type="password" class="form-control username_password_input" id="exampleInputPassword1" placeholder="Password" style="  border-radius: 20px;gap: 10px;border: 1px solid rgba(171, 171, 171, 1);font-size: 14px;letter-spacing: 1%;line-height: 24px;width: 100%;">
            </div>


            <div id="emailHelp " class="form-text username_password_input" style="font-size: 14px; line-height: 24px;letter-spacing: 1%;margin-left: 3%;margin-bottom: 3%;">
                It must be a combination of minimum 8 letters, numbers and symbols.
            </div>
            <div class="mb-2 form-check">
                <div class="d-flex justify-content-between">
                    <div class="p-2"> 
                        <input type="checkbox" class="form-check-input mt-2" id="exampleCheck1" style="border-radius: 0%;">
                        <label class="form-check-label form-text" for="exampleCheck1">Remember Me </label>
                    </div>
                    <div class="p-2">
                        <a class="username_password_input justify-content-end" href="" style="text-decoration: none;"> 
                            <p style="font-size: 14px; line-height: 24px;letter-spacing: 1%;color: rgba(130, 130, 130, 1) ; font-weight: 700;">Forgot Password?</p>
                        </a>
                    </div>
                </div>              
            </div>

            <button type="submit" class="btn mb-4" style="background-color: #3D3185;border-radius: 15.37px;width:30%;height: 56.09px;">
                <p class="username_password_input" style="font-weight: 700; font-size: 19.21px;line-height: 26.16px;letter-spacing: 1%;color: rgba(255, 255, 255, 1);    margin-top: 9px;">LOGIN</p>
            </button>
          </form>

                    <div class="mb-3">   
                        <a href="" class="username_password_input mb-3" style="text-decoration: none; color: rgba(130, 130, 130, 1) ;font-weight: 500; font-size: 14px;line-height: 24px;">No Account yet? Sign Up</a>
                    </div>
          
            <div class="container">                    
                    <button type="button" class="btn btn-outline-primary "  style="border-radius: 16.44px; border: 0.46px solid rgba(0, 0, 0, 1)">
                        <p class="username_password_input"  style="color: black;margin-bottom: 0px; font-size: 12.17px;line-height: 16.58px;letter-spacing: 6.5%;font-weight: 700;">Super Admin Login </p>
                    </button>
                    <button type="button" class="btn btn-outline-primary m-4" style="border-radius: 16.44px;border: 0.46px solid rgba(0, 0, 0, 1)">
                        <p class="username_password_input" style="color: black;margin-bottom: 0px; font-size: 12.17px;line-height: 16.58px;letter-spacing: 6.5%;font-weight: 700;">Company Login</p>
                    </button>
                    <button type="button" class="btn btn-outline-primary" style="border-radius: 16.44px;border: 0.46px solid rgba(0, 0, 0, 1)">
                        <p class="username_password_input" style="color: black;margin-bottom: 0px; font-size: 12.17px;line-height: 16.58px;letter-spacing: 6.5%;font-weight: 700;">HR Login</p>
                    </button>
            </div>

          

          
    </div>
</div>


</div>
