
<div class="container mt-3" >
    <div class="row parent-div" >
        <!-- left side of div -->
            <div class="col-md-6 child-div " >
                <div class="parent-div">
                    <div class="parent-div">              
                        <img class="child-div"  src="/assets/login/login-page.png" alt="" style="max-width: 100%; max-height: 100%; border-bottom-left-radius: 20px;">

                    </div>
                </div>                
            </div>

        <!-- diff. between the two side div -->
            <div class="col-md-1 child-div"></div>

        <!-- right side of div -->
            <div class="col-md-5 child-div">
                    <form>
                        <span>
                            <b>
                                <h1 style="margin-top: 23%; line-height: 81px;font-size: 48px; font-weight: 700;" class="poppins_font">LOGIN</h1>
                            </b>
                        </span>

                        <div class="mb-3">              
                            <input type="email" title="For Example :- John@gmail.com" class="form-control poppins_font" id="exampleInputEmail1"  placeholder="Email-Id" style="  border-radius: 20px;gap: 10px;border: 1px solid rgba(171, 171, 171, 1);font-size: 14px;letter-spacing: 1%;line-height: 24px;width: 100%;">
                        </div>

                        <div class="mb-2">                
                            <input type="password" title="It must be a combination of minimum 8 letters, numbers and symbols." class="form-control poppins_font" id="exampleInputPassword1" placeholder="Password" style="  border-radius: 20px;gap: 10px;border: 1px solid rgba(171, 171, 171, 1);font-size: 14px;letter-spacing: 1%;line-height: 24px;width: 100%;">
                        </div>

                        <div  class="form-text mx-3" style="font-size: 14px;letter-spacing: 1%;">
                             <span class="poppins_font " style="font-size: 13px; font-weight: 450;color:rgba(130, 130, 130, 1)   ;">It must be a combination of minimum 8 letters, numbers and symbols.</span>
                        </div>

                        <div class="mb-2 mt-2 form-check">
                            <div class="d-flex justify-content-between">

                                <div class="p-2"> 
                                    <input type="checkbox" class="form-check-input mt-2" id="exampleCheck1" style="border-radius: 0%;">
                                        <label class="form-check-label form-text" for="exampleCheck1">
                                            <span class="poppins_font" style="font-size: 13px; font-weight: 500;">Remember Me </span>
                                        </label>
                                </div>
                                <div class="p-2">
                                    <a class="poppins_font justify-content-end" href="" style="text-decoration: none;"> 
                                        <p style="font-size: 14px; line-height: 24px;letter-spacing: 1%;color: rgba(130, 130, 130, 1) ; font-weight: 500;">Forgot Password?</p>
                                    </a>
                                </div>
                                
                            </div>              
                        </div>

                        <button  type="submit" class="btn mb-4" style="background-color: #3D3185; border-radius: 15.37px; width: 40%;">
                            <span class="poppins_font" style="font-weight: 700; font-size: 19.21px; color: rgba(255, 255, 255, 1); ">LOGIN</span>
                        </button>                        
                        
                    </form>

                            <div class="mb-3">   
                                    <a [routerLink]="['/account/register']" routerLinkActive="router-link-active"  class="poppins_font mb-3" style="text-decoration: none; color: rgba(130, 130, 130, 1) ;font-weight: 500; font-size: 13px;line-height: 24px;">No Account yet? Sign Up</a>
                                </div>
                
                            <div class="container px-2 mt-4"> <!-- Added px-2 for horizontal padding -->
                                <div class="d-flex justify-content-between">
                                  <!-- 1st Button: Left Aligned -->
                                  <div class="d-flex align-items-center">
                                    <button [routerLink]="['']" routerLinkActive="router-link-active" type="button" class="btn btn-outline-primary " style="border-radius: 16.44px; border: 0.46px solid rgba(0, 0, 0, 1);">
                                      <p class="poppins_font px-2" style="color: black; margin-bottom: 0px; font-size: 12.17px; line-height: 16.58px; letter-spacing: 6.5%; font-weight: 500;">Super Admin Login</p>
                                    </button>
                                  </div>
                            
                                  <!-- 2nd Button: Center Aligned -->
                                  <div class="d-flex align-items-center mx-auto"> <!-- mx-auto centers the div horizontally -->
                                    <button [routerLink]="['/sidebar']" routerLinkActive="router-link-active" type="button" class="btn btn-outline-primary btn-custom"  style="border-radius: 16.44px; border: 0.46px solid rgba(0, 0, 0, 1);">
                                      <p class="poppins_font px-2" style="color: black; margin-bottom: 0px; font-size: 12.17px; line-height: 16.58px; letter-spacing: 6.5%; font-weight: 500;">Company Login</p>
                                    </button>
                                  </div>
                            
                                  <!-- 3rd Button: Right Aligned -->
                                  <div class="d-flex align-items-center">
                                    <button [routerLink]="['']" routerLinkActive="router-link-active" type="button" class="btn btn-outline-primary btn-custom"  style="border-radius: 16.44px; border: 0.46px solid rgba(0, 0, 0, 1);">
                                      <p class="poppins_font px-2" style="color: black; margin-bottom: 0px; font-size: 12.17px; line-height: 16.58px; letter-spacing: 6.5%; font-weight: 500;">HR Login</p>
                                    </button>
                                  </div>
                                </div>
                            </div>      
            </div>
    </div>
</div>
