<footer  class="footer    sticky-bottom border-top "  style="position: fixed; bottom: 0; left: 0; right: 0;background-color: white;">
      <div class="container " style="margin-bottom: 1%;">
            <footer class="  mt-2  d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">      
                <ul class="nav col-md-4 ms-auto">
                      <li><a href="#" class="nav-link px-2 link-body-emphasis"> <span  class=" poppins_font" style="font-weight: 500;font-size: 16px;color: rgba(33, 39, 42, 1);">About Us</span></a></li>
                      <li><a href="#" class="nav-link px-2 link-body-emphasis"> <span class="poppins_font" style="font-weight: 500;font-size: 16px;color: rgba(33, 39, 42, 1);">Terms & Conditions</span> </a></li>
                      <li><a href="#" class="nav-link px-2 link-body-emphasis"> <span class=" poppins_font" style="font-weight: 500;font-size: 16px;color: rgba(33, 39, 42, 1);">Privacy Policies</span></a></li>
                </ul>
          </footer>
      </div>    
</footer>

